
.homepage {
  width: 100%;
}

.overflow {
  overflow: auto;
  margin-right: 25px;
}

.homepage-title {
  text-align: center;
}

.homepage-image {
  height: 200px;
}

.homepage-form-input {
  width: 100%;
  height: 3rem;
  background-color: rgb(198, 56, 56);
  color: white;
  border: none;
  border-radius: 1.5rem;
}

.homepage-form-search {
  background-color: rgb(158, 158, 158);
  text-align: center;

}

.homepage-form-search::placeholder {
  color: white;
  text-align: center;
}

.profile-projection-header {
  width: 100%;
  height: 2rem;
}

.player-info {
  width: 100%;
  padding: 1rem;
}

.topPlayerForm {
  font-size: 20px;
}

.topPlayerForm select {
  width: 5rem;
}

.topPlayerForm option {
  background-color: rgb(198, 56, 56);
  color:white;
}

.red-color {
  color:rgb(198, 56, 56);
}

.depthChartColumnFont {
  font-size: larger;
}

.topPlayerForm-team {
  height: 3rem;
  width: 7rem;
  border-radius: 1.5rem;
  background-color: rgb(198, 56, 56);
  color:white;
}

.topPlayerForm-position {
  height: 3rem;
  width: 7rem;
  border-radius: 1.5rem;
  background-color: rgb(198, 56, 56);
  color:white;
}

.tableRankDataRank {
  border: 1px rgb(198, 56, 56) solid;
  background-color: rgb(198, 56, 56);
  color: white;
  height: 3rem;
  width: 3rem;
}

.tableRankDataPlayer {
  border: 1px rgb(198, 56, 56) solid;
  background-color: rgb(198, 56, 56);
  color: white;
  height: 3rem;
}

.tableRankDataPlayer:hover {
  color:white;
  cursor: pointer;
  font-size: larger;
}

.tableRankDataPlayer:active {
  color:rgb(198, 56, 56);
}

.buttonIconPointer {
  cursor: pointer;
}

.remove-button {
  margin-top: 0.5rem;
}

.remove-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .block {
    width: 70%;
  }
}

@media screen and (min-width: 900px) {

  .player-info {
  width: 100%;
  padding: 0;
}

  .profile-projection-header {
  width: 70%;
  height: 2rem;
}

  .profile > .block {
    width: 70%;
  }

  .homepage-image {
    height: 300px;
}

.nba-image {
  width: 400px;
}

  .block {
    width: 30%;
  }

  .table-rank {
    width: 20%;
  }

  .topPlayerTable {
    width: 50%;
  }

  .width-plus-row {
    width: 68%;
  }
}
